body {
  font-family: sans-serif;
}

h1 {
  font-size: 25px;
  text-transform: uppercase;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.container {
  margin: 0 auto;
  background: #ddd;
  padding: 20px;
  text-align: center;
  height: auto;
  box-shadow: 0px 0px 2px gray;
}

input:focus {
  outline: none;
}

#interact {
  padding: 10px;
  background: orange;
  font-weight: bold;
  outline: none;
  border: none;
}
#message {
  padding: 10px;
  outline: none;
  border: none;
}
#answer {
  margin-top: 20px;
  background: green;
  color: #fff;
  padding: 10px;
  box-shadow: 2px 2px 5px gray;
}

p {
  font-size: 12px;
  text-align: center;
}
